
extends layout.pug

block nav
  // Navigation
  nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          |                     Menu
          i.fa.fa-bars
        a.navbar-brand(href='../') Blog de Malo
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='../') Home
          if session.username
            li
              a(href='../user/form') Poster un article
            li
              a(href='../user/logout') Log out
          else
            li
              a(href='../login') Login
            li
              a(href='../signup') Sign-up

      // /.navbar-collapse
    // /.container


block head
  header.intro-header(style="background-image: url('https://source.unsplash.com/random')")
    .container-fluid(style="background-color: rgba(0, 0, 0, 0.3);")
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .site-heading
            h1= titre
            hr.small
            span.subheading Yo

block content
  .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
    form.form-horizontal(action='article', method='post')
      fieldset
        // Form Name
        // Text input
        .form-group.col-xs-12.floating-label-form-group.controls
          label.col-md-1.control-label(for='Titre') Titre
          .col-md-10
            input#Titre.form-control.input-md(name='Titre', type='text', placeholder='Titre', required='')
        // Text input
        .form-group.col-xs-12.floating-label-form-group.controls
          label.col-md-1.control-label(for='Auteur') Auteur
          .col-md-10
            input#Auteur.form-control.input-md(name='Auteur', type='text', placeholder='Auteur', required='')
        // Text input
        .form-group.col-xs-12.floating-label-form-group.controls
          label.col-md-1.control-label(for='Image') Image
          .col-md-10
            input#Image.form-control.input-md(name='Image', type='text', placeholder='Image', required='')
        // Textarea
        .form-group.col-xs-12.floating-label-form-group.controls
          label.col-md-1.control-label(for='contenue') Article
          .col-md-10
            textarea#Article.high.form-control(name='contenue') Article
        // Button
        .form-group
          .col-md-6.col-md-offset-4
            button#submit.btn.btn-info(name='submit') Envoyer
