extends layout.pug

block head
  header.intro-header(style="background-image: url('https://source.unsplash.com/random')")
    .container-fluid(style="background-color: rgba(0, 0, 0, 0.3);")
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .site-heading
            h1= titre
            hr.small
            span.subheading= message


block content
  .container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      p Login to start publishing.
      p
        | Not register yet sign-up
        a(href='../signup') here
      form#contactForm( action='user/checklogin', method='post' name='login', autocomplete='off')
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls
            label Email Address
            input#email.form-control(type='email', autocomplete='nope', placeholder='Email Address', name='email', required='', data-validation-required-message='Please enter your email address.')
            p.help-block.text-danger
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls
            label Password
            input#emailconfirm.form-control(autocomplete='new-password', type='password', placeholder='Password', name='password', required='', data-validation-required-message='Please enter your email address.')
            p.help-block.text-danger
        br
        #success
        .row
          .form-group.col-xs-12
            button.btn.btn-default(type='submit') Login
